<% if flash.has?(:message) %>
  <div id="flash-wrapper">
    <div id="flash-message">
      <p><%= flash[:message] %></p>
    </div>
  </div>
<% end %>

<h1>All Recipes</h1>

<% @recipes.each do |recipe| %>
  <li>
    <a href="/recipes/<%=recipe.id %>"><%=recipe.name %>
    </a>
    : <%=recipe.description %>
    : created by <%= recipe.user.username %>
    <a href="recipes/<%=recipe.id %>/favorite?location=/recipes">+fav</a>
  </li>
<% end %>