<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>

<h1>Recipe: <%= @recipe.name %></h1>
<h2>Serves: <%= @recipe.servings %></h2>
<h3>Description: </h3>
<p><%= @recipe.description %></p>
<h3>Ingredients</h3>
<div><%= @recipe.ingredients %></div>
<h3>Instructions</h3>
<div><%= @recipe.instructions %></div>