<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>


<% if session[:user_id] == @user.id %>
  <p><a href="/users/account">Go to my account page</a></p>
  <h1>My Profile: <%= @user.username %></h1>
  <h2>My Recipes</h2>
  <ul>
  <% if @user.recipes.length ==0 %>
    <li>This user has no recipes yet.</li>
  <% else %>
    <% @user.recipes.each do |recipe| %>
      <li><a href="/recipes/<%= recipe.id %>"><%=recipe.name %></a>: <%=recipe.description %></li>
    <% end %>
  <% end %>
  </ul>

  <h2>Liked Recipes</h2>
  <ul>
  <% @user.favorites.each do |favorite| %>
    <li>
      <a href="/recipes/<%= favorite.id %>">
        <%= favorite.name %>
      </a>
      <form action="/favorites/<%= favorite.id %>" method="post" style="display:inline-block;">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="hidden" name="location" value="/users/<%= @user.id %>">
        <input type="hidden" name="target_recipe_id" value="<%= favorite.id %>">
        <button type="submit" style="color: red;
                                      border-radius: 50%;
                                      padding: 14px 19px;
                                      margin-left: 16px;"
                title="remove favorite">&#10005;</button>
      </form>
    </li>
  <% end %>

<% else %>

  <h1><%= @user.username %></h1>
  <h2>Recipes</h2>
  <ul>
  <% @user.recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"><%=recipe.name %></a>: <%=recipe.description %></li>
  <% end %>
  </ul>

<% end %>


  