<% if flash.has?(:message) %>
  <div id="flash-wrapper">
    <div id="flash-message">
      <p><%= flash[:message] %></p>
    </div>
  </div>
<% end %>

<h1>Recent Recipes</h1>
<ul>
<% @recipes.limit(10).each do |recipe| %>
  <li>
    <h2>
      <a href="/recipes/<%= recipe.id %>" style="color:white;"><%= recipe.name %>
      </a>
      <a href="recipes/<%=recipe.id %>/favorite?location=/" class="font-size-1-rem">+fav</a>
    </h2></a>
    <p class="margin-left-1-rem">Created by <a href="/users/<%= recipe.user_id %>"><%= recipe.user.username %></a> on <%= recipe.created_at.strftime("%m/%d/%Y") %></p>
  </li>
<% end %>
</ul>
<h2><a href="/recipes">View more recipes...</a></h2>


